@import 'Variables'
@import '../../Helper/Section'

:local(.collaborate)
  .section-description
    a
      color: $thunder
      text-decoration: none
      border-bottom: 4px solid rgba(35, 31, 32, 0.2)
