@import '../../Variables'
@import '../../Helper/Section'

:local(.faq)
  &.landing-section
    padding: 26px 11px 20px 7px
    .landing-section-header
      margin-bottom: 0
    .landing-section-button
      height: 26px
      padding: 6px 12px
      font-size: 13px
  .faq-content
    padding: 8px 0 30px 15px
    .faq-paragraph
      padding: 32px 0 39px
      margin-right: 11px
      font-size: 16px
      font-weight: 200
      font-style: normal
      font-stretch: normal
      color: $thunder
      border-bottom: 1px solid $alto-solid
      &:last-child
        border: none
