@import '../../Variables'

:local(.footer)
  background-color: $wild-sand
  font-weight: 300
  font-style: normal
  font-stretch: normal
  padding: 11px
  margin-top: 20px

  .footer-link
    display: block
    font-size: 15px
    color: $thunder
    padding: 10px 0
    text-decoration: none
