@import '../../Variables.sass'

:local(.header)
  &.top-left
    max-height: 0
    overflow: hidden

  .cpdb-logo
    font-size: 30px
    font-weight: 600
    padding: $header-logo-padding-y $header-logo-padding-x
    font-style: normal
    font-stretch: normal
    color: $thunder
