:local(.header)
  &.top-left
    max-height: 0px
    overflow: hidden

  .cpdb-logo
    font-size: 30px
    font-weight: 600
    padding: 16px 16px 10px 14px
    font-style: normal
    font-stretch: normal
    color: #231f20

  .cpdb-menu-holder
    padding: 18px 16px 10px 14px
    .btn
      background: #f5f4f4
      border: 0
      border-radius: 2px
      padding: 9px

    .cpdb-menu
      font-size: 13px
