@import '../../Variables'

:local(.landingSection)
  border-top: solid 1px $thunder
  padding: 26px 22px 90px 7px
  background-color: $white
  font-style: normal
  font-stretch: normal
  .landing-section-header
    float: left
    border-left: 8px solid rgba(34, 31, 31, 0.2)
    padding: 3px 0 3px 8px
    margin-bottom: 40px
    font-size: 16px
    font-weight: 300
    color: $thunder
    .landing-section-title
      padding: 0.5px
  .section-description
    padding: 0 0 0 15px
    font-size: 16px
    font-weight: 200
    font-style: normal
    font-stretch: normal
    color: $thunder
    a
      color: $thunder
      text-decoration: none
      border-bottom: 4px solid rgba(35, 31, 32, 0.2)
