@import '../../Variables'

:local(.vftg)
  background-color: $wild-sand-solid
  padding: 0 11px
  font-style: normal
  font-stretch: normal
  .issue-time
    padding: 30px 0 16px 11px
    font-size: 13px
    font-weight: normal
    text-align: left
    .at-issue
      font-weight: 600
      color: $cod-gray
      margin-right: 5px
    .time
      color: rgba(38, 38, 38, 0.5)
  .news
    font-size: 20px
    font-weight: 300
    color: $thunder
    padding-left: 11px
  .most-recent
    padding: 15px 0 35px 11px
    div
      float: left
    .most-recent-email
      margin-left: 20px
      border-bottom: solid 4px rgba(35, 31, 32, 0.2)
      color: $thunder
      font-size: 13px
      font-weight: 600
  .email-box
    height: 51px
    .email-input
      height: 100%
      width: 100%
      background-color: $white
      color: $royal-blue
      padding-left: 12px
      font-size: 16px
      font-weight: 300
    ::-webkit-input-placeholder
      color: $royal-blue
    :-moz-placeholder
      color: $white
    ::-moz-placeholder
      color: $white
    :-ms-input-placeholder
      color: $white
  .subscribe
    padding: 16px 0 48px 0
    float: right
    .btn-subscribe
      border: solid 1px $alto-solid
