@import 'variables'

\:local(.document-card-thumbnail)
  width: 129px
  height: 174px
  display: block
  padding : 7px 0 7px 8px
  box-sizing: border-box

  .document-card-thumbnail-img
    width: 100%
    height: 100%
