@import 'variables'

$no-data-text-width: 252

:local(.animated-radar-chart)
  width: 100%
  height: 240px
  position: relative

  .radar-chart-container
    position: relative
    height: 240px

    .explainer-open-button
      width: 24px
      height: 24px
      background-color: white
      opacity: 0.6
      border-radius: 12px
      position: absolute
      right: 16px
      bottom: 16px
      box-sizing: border-box

      .inner
        opacity: 1
        display: inline-block
        width: 100%
        color: black
        line-height: 24px
        text-align: center
        font-weight: 500

  .no-data-text
    background-color: transparent
    color: $alto-solid
    position: absolute
    left: calc(50% - #{$no-data-text-width / 2}px)
    bottom: 35px
    font-size: 14px
    font-weight: 300
    text-align: center
    width: #{$no-data-text-width}px

