server {
    listen      80;
    server_name {{ nginx_server_name }};
    gzip on;
    gzip_comp_level 5;
    gzip_types text/html application/javascript application/x-javascript text/javascript text/css ;
    client_max_body_size 4G;

    access_log {{ nginx_access_log_file }};
    error_log {{ nginx_error_log_file }};

    root {{ nginx_dist_path }};

    location = / {
        index index.html /index.html;
    }
}
