@import 'Variables'

:local(.itemStyle)
  text-decoration: none
  color: inherit
  display: block
  padding: 11px 0
  border-bottom: 2px solid $alto-solid
  height: 58px

  .label
    height: 32px
    display: inline-block
    float: left
    font-size: 14px
    line-height: 18px
    overflow: hidden
