@import 'variables'

\:local(.location)
  margin-bottom: 30px

  .header
    font-size: 14px
    font-weight: 400
    color: $boulder
    height: auto
    line-height: 14px
    margin: 8px 0
    padding: 0

  .location-info-item
    display: flex
    padding: 10px 0
    border-bottom: 1px solid $alto-solid

    &:last-child
      border-bottom: none

  .label
    width: 98px
    font-size: 14px
    font-weight: 400
    color: $boulder
