@import 'variables'
@import 'modal'

:local(.explainer-layout)
  font-size: 14px
  background-color: white
  margin-bottom: 111px

  .explainer-radar-chart-container
    height: 206px
    position: relative

    .explainer-close-button
      padding: 16px
      position: absolute
      right: 0
      bottom: 0

      .close-button
        width: 24px
        height: 24px
        line-height: 22px
        background-color: $wild-sand
        border-radius: 12px
        text-align: center
        color: $soft-gray
        font-size: 24px
        font-weight: 100

  .explainer-content
    background-color: white
    padding: 41px 8px 128px 8px
    text-align: justify
    text-justify: inter-word

    .title
      line-height: 20px
      margin-bottom: 3px
      font-weight: 600
      text-align: center
      color: $thunder
