@import 'variables'

:local(.officer-card)
  width: 148px
  height: 176px
  border: 1px solid $alto-solid
  box-sizing: border-box
  background-color: $white
  display: block
  text-decoration: none

  .radar-chart
    width: 100%
    height: 60px

  .officer-info
    height: 72px
    background-color: $wild-sand
    padding: 8px 8px 10px 8px
    overflow: hidden
    box-sizing: border-box

  .officer-rank
    color: $gandalf-gray
    font-size: 12px
    overflow: hidden

  .officer-name
    color: $thunder
    font-size: 14px
    overflow: hidden
    margin-top: 4px

  .coaccusal-count
    height: 40px
    line-height: 40px
    padding-left: 8px
    font-size: 14px
    overflow: hidden
    box-sizing: border-box
    color: $thunder
