@import 'variables'

\:local(.officer-summary)
  font-size: 14px

  .officer-name
    border-bottom: 0

  .header
    text-align: center

  %row
    line-height: 20px
    padding-top: 9px
    padding-bottom: 11px
    color: $gandalf-gray

  .officer-demographic
    @extend %row
    margin: 0 $side-margin
    border-top: 1px solid $alto-solid
    text-align: center

  .current-badge
    font-weight: bold
