@import 'variables'

\:local(.officer-summary)
  font-size: 14px

  .officer-name
    border-bottom: 0

  .header
    text-align: center

  %row
    line-height: 20px
    padding-top: 9px
    padding-bottom: 11px
    color: $boulder-color

  .officer-demographic
    @extend %row
    margin: 0 $side-margin
    border-top: 1px solid $alto-color
    text-align: center

  .badges
    color: $boulder-color

  .current-badge
    color: $thunder-color
