@import 'variables'


:local(.animated--radar-chart)
  width: 100%
  height: 240px

  .radar-chart-container
    position: relative
    height: 240px

    .explainer-open-button
      width: 24px
      height: 24px
      background-color: white
      opacity: 0.6
      border-radius: 12px
      position: absolute
      right: 16px
      bottom: 16px
      box-sizing: border-box

      .inner
        opacity: 1
        display: inline-block
        width: 100%
        color: black
        line-height: 24px
        text-align: center
        font-weight: 500
