@import 'variables'

:local(.section-row)
  border-top: 1px solid $alto-solid
  vertical-align: middle
  // these 4 lines are to achive optical center
  height: 40px
  line-height: 20px
  padding-top: 9px
  padding-bottom: 11px

  &:first-child
    border-top: 0

  .label
    display: inline-block
    width: 128px - $horizontal-padding
    color: $greyish
    font-weight: 400

  .value
    color: $metadata-black

  .extra-info
    color: $greyish
    padding-left: 8px
