@import 'variables'

:local(.carousel-wrapper)
  position: relative
  margin: 8px 0
  box-sizing: border-box
  height: 286px
  overflow: hidden

  .carousel-title
    font-size: 14px
    color: $thunder
    position: absolute
    z-index: 10
    top: 38px
    left: 16px
    font-weight: 700

  .swiper-wrapper
    padding: 70px 0 40px 8px
    border: 1px solid $alto-solid
    border-radius: 2px
    margin: 0 8px
    background-color: $white
    height: 174px
    box-sizing: content-box
    display: inline-flex
    width: auto

  .carousel-description
    width: 173px
    margin-right: 24px
    color: $boulder
    font-size: 14px
    line-height: 1.4em
    font-weight: 500

  &.embed
    .swiper-wrapper
      border: none
