@import 'variables'

:local(.complaint-summary-card)
  width: 148px
  height: 176px
  margin-right: 8px
  border: 1px solid $alto-solid
  box-sizing: border-box
  background-color: $white
  text-decoration: none
  display: block

  .complaint-info
    padding: 8px
    background-color: $wild-sand

    .incident-date
      font-size: 12px
      color: $gandalf-gray

    .category
      color: $thunder
      font-size: 14px
      white-space: nowrap
      overflow: hidden

  .complaint-summary
    height: 112px
    margin: 8px
    font-size: 12px
    color: $gandalf-gray
    overflow: hidden
    box-sizing: border-box
