@import 'variables'

:local(.complaint-document-card)
  width: 148px
  height: 176px
  margin-right: 8px
  border: 1px solid $alto-solid
  box-sizing: border-box
  background-color: $white

  .document-preview
    display: block
    width: 100%
    text-align: center

    .preview-image
      margin: 12px auto 10px
      width: 75.6px
      height: 100px
      border: 1px solid $greyish
      box-sizing: border-box

  .complaint-info
    display: block
    background-color: $wild-sand
    text-decoration: none
    box-sizing: border-box
    padding: 8px

    .crid
      font-size: 12px
      color: $gandalf-gray

    .num-recent-documents
      color: $thunder
      font-size: 14px
