@import 'variables'

:local(.complaint-summaries)
  position: relative
  margin: 8px 0
  box-sizing: border-box
  height: 286px
  overflow: hidden

  .carousel-title
    font-size: 14px
    color: $thunder
    margin-bottom: 14px
    position: absolute
    z-index: 10
    top: 38px
    left: 16px
    font-weight: 700

  .slide-wrapper
    padding: 70px 0 40px 8px
    border: 1px solid $alto-solid
    border-radius: 2px
    margin: 0 8px
    background-color: $white
    height: 174px
    box-sizing: content-box

  .carousel-description
    width: 173px
    margin-right: 24px
    border: none
    color: $boulder
    font-size: 14px
    line-height: 1.4em
    font-weight: 500
