@import 'variables'

:local(.complaint-document-card)
  display: block
  width: 148px
  height: 176px
  margin-right: 8px
  border: 1px solid $alto-solid
  box-sizing: border-box
  background-color: $white
  text-decoration: none

  .document-preview
    text-align: center
    background-color: $white

    .preview-image
      margin: 12px auto 10px
      width: 75.6px
      height: 100px
      border: 1px solid $greyish
      box-sizing: border-box

  .complaint-info
    background-color: $wild-sand
    box-sizing: border-box
    padding: 8px

    .crid
      font-size: 12px
      color: $gandalf-gray

    .num-recent-documents
      color: $thunder
      font-size: 14px
