:local(.horizontal-scrolling)
  overflow: hidden
  height: 286px
  width: 100%
  box-sizing: content-box

  .swiper-wrapper
    padding-bottom: 10px
    position: relative
    box-sizing: content-box
    position: relative

  .swiper-slide
    display: inline-block
    width: auto
