:local(.horizontal-scrolling)
  overflow: hidden
  height: 286px
  width: 100%
  box-sizing: content-box

  .swiper-wrapper
    overflow-x: scroll
    overflow-y: hidden
    padding-bottom: 10px
    position: relative
    box-sizing: content-box

  .slide-wrapper
    position: relative
    display: inline-flex

  .slide-item
    flex-shrink: 0
