@import 'variables'

$vertical-line-color: #e9e8e8

:local(.officer-timeline)
  font-size: 14px

  .sheet-header
    border-bottom: 0

  :local(.divider)
    height: 40px
    background-color: white

  .officer-timeline-body
    margin: 0 $side-margin
    position: relative

    .last-item
      z-index: 1
      position: relative
