@import 'variables'

\:local(.header)
  height: 40px
  background-color: $wild-sand
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13)
  display: flex

  .breadcrumbs
    display: flex
    align-items: center
    max-width: 100%

    .breadcrumb-item-wrapper
      color: $thunder
      font-size: 14px
      font-weight: 400
      padding: 0 8px
      line-height: 14px
      flex: 0
      white-space: nowrap

      &.auto-width
        flex: 1
        overflow: hidden
        text-overflow: ellipsis
        min-width: 72px

      a
        text-decoration: none
        color: $gandalf-gray

    .separator
      height: 14px
      width: 8px
      line-height: 14px
      flex: 0
