@import 'variables'

:local(.itemStyle)
  text-decoration: none
  color: inherit
  display: block
  padding: 11px 0
  border-bottom: 2px solid $alto-solid
  height: 54px

  .icon
    width: 32px
    height: 32px
    border-radius: 2px
    display: inline-block
    float: left

  .labels
    height: 32px
    display: inline-block
    float: left
    margin-left: $side-margin

    .label
      font-size: 14px
      height: 18px

    .sublabel
      font-size: 12px
      height: 14px
      color: $greyish
