\:local(.wrapper)
  position: absolute
  display: block
  width: 24px
  height: 24px
  background-image: url('/img/ic-clear.svg')
  background-position: center
  background-repeat: no-repeat
  background-size: 24px 24px
  top: 4px
  right: 4px
  cursor: pointer
