@import 'variables'

\:local(.pinboardPage)
  &.empty
    background-color: $wild-sand

    .footer-items
      background-color: transparent

  .data-visualizations
    margin: 0 8px
    border-radius: 2px
    border: solid 1px $alto-solid

  .footer-items
    padding-top: 128px
    background-color: $thunder

  .pinned-section
    min-width: 312px
    margin-left: 8px
    margin-bottom: 143px

\:local(.pinboard-page-toast)
  background-color: $sprout-color !important
  border-radius: 2px
  color: $japanese-laurel !important
  font-size: 14px
  padding: 12px 8px
  min-height: 40px
  text-align: center
  width: 296px
  box-shadow: 0 1px 2px 0 $black15-color
