@import 'variables'

\:local(.pinboardPage)
  &.empty
    background-color: $wild-sand

  .data-visualizations
    margin: 0 8px
    border-radius: 2px
    border: solid 1px $alto-solid

  .footer-items
    padding-top: 128px
    background-color: $thunder

  .pinned-section
    min-width: 312px
    margin-left: 8px
