@import 'variables'

\:local(.pinboard-data-visualization)
  margin: 0 8px

  .visualization-title
    font-size: 14px
    color: $thunder
    padding: 39px 0 9px 0

  .visualization-item
    width: 296px
    height: 342px
    display: inline-block
    border: 1px solid $alto
    position: relative
