@import 'variables'

\:local(.pinboardInfo)
  margin: 0 8px

  .pinboard-title, .pinboard-description
    display: block
    color: $thunder
    border: none
    outline: none

  .pinboard-title
    font-size: 26px
    font-weight: 300
    margin: 48px 0 25px 0

  .pinboard-description
    resize: none
    width: 100%
    font-size: 14px
    margin-bottom: 40px
    height: auto
    min-height: 64px
    line-height: 16px
    overflow: auto
    word-wrap: break-word
    white-space: pre-line
