@import 'variables'

\:local(.wrapper)
  width: 100%
  margin-top: 31px
  min-width: 320px

  .type-title
    font-size: 14px
    color: $thunder

  .type-cards
    display: flex
    flex-wrap: wrap
    margin-top: 9px
    justify-content: flex-start

