@import 'variables'

\:local(.wrapper)
  box-sizing: border-box
  width: 100%
  height: 44px
  border-bottom: 1px solid $alto-color
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1)
  padding: 0 16px
  display: flex
  align-items: center
  cursor: pointer
  text-decoration: none
  min-width: 120px
  color: $blue-ribbon-color
  background-color: white

  .search-icon
    background-image: url('/img/ic-search.svg')
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    width: 12px
    height: 12px
    display: inline-block

  .search-term
    margin-left: 10px
    font-size: 14px
    font-weight: 300
    color: $blue-ribbon-color
