@import 'variables'

\:local(.animatedSocialGraph)
  .graph-control-panel
    padding: 0 8px

    .date-labels
      font-size: 12px
      color: $boulder
      margin-bottom: 3px

      .start-date-label
        float: left

      .end-date-label
        float: right

    .graph-actions
      padding: 10px 0

      .toggle-timeline-btn
        float: left
        box-sizing: border-box
        width: 24px
        height: 24px
        padding: 7px 0
        border: 1px solid $alto-solid
        border-radius: 12px
        outline: none
        background-size: 7px 8px
        background: white center no-repeat

        &.pause-icon
          background-image: url('/img/ic-pause.svg')

        &.play-icon
          background-image: url('/img/ic-play.svg')

      .current-date-label
        float: left
        font-size: 14px
        line-height: 24px
        color: $thunder
        margin-left: 6px

      .graph-search-form
        float: right
        position: relative

        .graph-search-input-container
          display: inline-block
          position: relative

        .graph-search-input
          font-size: 14px
          font-weight: 300
          color: $boulder
          padding: 3px 20px 3px 6px
          border: 1px solid $silver

        .graph-search-btn
          position: absolute
          top: 0
          right: 0
          margin: 6px
          box-sizing: border-box
          background: url('/img/ic-magnifying-glass.svg') no-repeat center
          background-size: 14px 14px
          width: 14px
          height: 14px
          border: none
          outline: none
