@import 'variables'


\:local(.socialGraph)
  width: 100%
  height: calc(100vh - 93px)
  position: relative

  circle.node
    stroke: white
    stroke-width: 1.5px

  line.link
    stroke: $wild-sand-color
    stroke-width: 1px

    &.link-group-color-1
      stroke: $wild-sand-color

    &.link-group-color-2
      stroke: $alto-color

    &.link-group-color-3
      stroke: $silver-chalice-color

    &.link-group-color-4
      stroke: $gray-color

    &.link-group-color-5
      stroke: $boulder-color

    &.link-group-color-6
      stroke: $guardsman-red-color

    &.current-link
      stroke: $azure-radiance-color
      stroke-width: 2px

  .loading-img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

\:local(.socialGraphTip)
  padding: 2px 4px
  background-color: $wild-sand-color
  color: $thunder-color
  border-radius: 2px
  font-size: 13px
  line-height: 15px
  border: 1px solid $alto-color

.pinboard-page
  \:local(.socialGraph)
    width: 296px
    height: 342px
