@import 'variables'

\:local(.complaint-document-card)
  display: block
  width: 148px
  height: 176px
  border: 1px solid $alto-solid
  box-sizing: border-box
  background-color: $wild-sand
  text-decoration: none

  .document-preview
    text-align: center
    height: 98px

    .preview-image
      margin: 8px 43px 2px 40px
      width: 65px
      height: 86px
      box-shadow: 0 1px 2px 0 $black20-color

  .complaint-info
    padding: 8px
    font-weight: 300
    height: 78px

    .complaint-info-incident-date
      font-size: 12px
      line-height: 14px
      color: $boulder

    .complaint-info-category
      font-size: 14px
      line-height: 16px
      color: $thunder
