@import 'variables'

\:local(.relevant-coaccusal-card)
  display: inline-block
  position: relative
  border: solid 1px $mine-shaft-color
  border-radius: 2px
  width: 148px
  margin-right: 8px
  font-weight: 300

  &.fade-out
    transition: opacity $pinboard-fade-animation-duration ease-in-out
    opacity: 0

  &:last-of-type
    margin-right: 0

  .radar-chart-wrapper
    height: 59px

  .officer-card-name-wrapper
    padding: 12px 8px
    background-color: $thunder
    height: 72px

    .light-text
      margin: 0
      font-size: 12px
      line-height: 1.17
      font-weight: 300
      color: $boulder
      height: 14px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    .bold-text
      margin: 0
      line-height: 16px
      font-size: 14px
      font-weight: 300
      color: white

  .coaccusal-count
    padding: 12px 8px 15px 8px
    color: white
    font-size: 14px
    line-height: 16px
    background-color: $mine-shaft-color
