@import 'variables'
@import '../base'


$height: 58px

\:local(.wrapper)
  @extend %base-wrapper
  background-color: $snow-color
  height: $height
  line-height: $height - 1px

  .content
    .kind
      @extend %base-kind
      color: $boulder
      background-color: $wild-sand
      border-color: $alto-solid

    .category
      @extend %base-category
      display: inline-block
      vertical-align: middle
      font-size: 12px
      color: $boulder
      font-weight: 300

    .date
      @extend %base-date
      font-size: 12px
      color: $boulder
      font-weight: 300
