@import 'variables'

\:local(.radar-axis)
  font-size: 10px
  fill: $thunder-color

  .radar-axis-title
    font-weight: 300
    fill: $wild-sand-color
    stroke: none

  .radar-axis-value
    fill: $thunder-color
