@import 'variables'
@import '../base'

$height: 58px

\:local(.wrapper)
  @extend %base-wrapper
  background-color: $snow-color
  height: $height
  line-height: $height - 1px

  .content
    @extend %base-content

    &.no-border-bottom
      border-bottom: none

    .kind
      @extend %base-kind
      color: white
      background-color: $gandalf-gray
      border-color: $gandalf-gray

    .category
      @extend %base-category
      display: inline-block
      vertical-align: middle
      color: $thunder

    .date
      @extend %base-date
      font-size: 12px
      color: $thunder
      font-weight: 300
