@import 'variables'

%base-wrapper
  display: inline-block
  width: 100%
  background-color: $snow-color
  padding: 0 8px
  box-sizing: border-box

%base-content
  border-bottom: solid 1px $alto-solid

%base-kind
  width: 24px
  border: 1px solid
  border-radius: 2px
  margin-right: 16px
  line-height: 22px
  display: inline-block
  text-align: center
  margin-bottom: 3px
  vertical-align: middle
  // font-size 15px is fundamental to make the C look perfectly center. Reason? No idea.
  font-size: 15px
  font-weight: 300

%base-detail
  line-height: 18px
  color: $thunder

%base-category
  line-height: 18px
  color: $thunder

%base-date
  float: right
  width: 44px
  display: inline-block
  text-align: right

%base-right
  float: right
  display: inline-block
  text-align: right
