@import "variables"


\:local(.header-links)
  margin: 12px 0 0 8px

  .header-link
    display: inline-block
    text-decoration: none
    font-weight: 400
    line-height: 17px
    font-size: 14px
    margin-right: 26px
    color: $blue-ribbon-color
