@import 'Variables'


$transition-duration: 200ms
@if $env == live-test or $env == test
  $transition-duration: 1ms

$top-margin: 58px
$padding: $header-logo-padding-x
$background-logo-padding-top: $header-logo-padding-y - $padding
$overlay-opacity: .7

$ease-function: ease-out
$transition-length: 30px

:local(.bottom-sheet)
  color: $thunder
  position: absolute
  top: 0
  // Make sure bottom sheet covers up MainPage's CPDP logo completely:
  background-color: white
  // Full width prevents reflow as the bottom sheet is populated:
  width: 100%

  .header
    font-size: 30px
    font-weight: 600
    background-color: white

  .background
    background-color: $white
    width: 100%
    padding: $padding
    height: $top-margin


  .bottom-sheet-background-enter
    padding-top: $background-logo-padding-top

    &.bottom-sheet-background-enter-active
      padding-top: $padding
      transition: padding-top $ease-function $transition-duration

  .bottom-sheet-background-leave
    padding-top: $padding

    &.bottom-sheet-background-leave-active
      padding-top: $background-logo-padding-top
      transition: padding-top $ease-function $transition-duration


  .overlay
    background-color: $black
    opacity: $overlay-opacity
    margin-top: -$top-margin
    width: 100%
    height: $top-margin
    z-index: 2


  .bottom-sheet-overlay-leave
    opacity: $overlay-opacity
    height: $top-margin

    &.bottom-sheet-overlay-leave-active
      opacity: 0
      height: $top-margin + $transition-length
      transition: opacity $ease-function $transition-duration, height $ease-function $transition-duration

  .bottom-sheet-overlay-enter
    opacity: 0
    height: $top-margin + $transition-length

    &.bottom-sheet-overlay-enter-active
      opacity: $overlay-opacity
      height: $top-margin
      transition: opacity ease-in $transition-duration, height $ease-function $transition-duration

  .sheet
    background-color: $white
    width: 100%
    overflow-wrap: break-word
    min-height: calc(100vh - #{$top-margin})

  .sheet-header
      height: $sheet-header-height
      padding: $padding
      border-bottom: 1px solid $alto
      color: rgba($black, 0.5)

      &.empty
        height: 20px

  .sheet-body
    padding: 0 $padding $padding $padding


  .bottom-sheet-leave
    transform: translate3d(0, 0, 0)
    opacity: 1

    &.bottom-sheet-leave-active
      transform: translate3d(0, $transition-length, 0)
      opacity: 0
      transition: transform $ease-function $transition-duration, opacity $ease-function $transition-duration


  .bottom-sheet-enter
    transform: translate3d(0, $transition-length, 0)
    opacity: 0

    &.bottom-sheet-enter-active
      transform: translate3d(0, 0, 0)
      opacity: 1
      transition: transform $ease-function $transition-duration, opacity $ease-function $transition-duration
