@import 'Variables'

:local(.complaint-page)
  .content
    background-color: $content-background
    .officer-allegation-detail
      padding-top: 16px
      padding-bottom: 1px
      background: $section-background
      margin-bottom: 11px
    .document-section
      background-color: $section-background
      margin-bottom: 11px
    .timeline
      background: $timeline-background
      padding-bottom: 11px
    .against-section
      margin-bottom: 11px
      background: $section-background
    .complaining-witness
      margin-bottom: 11px
      background: $section-background
    .accomplice-officer-section
      margin-bottom: 11px
      background: $section-background
    .investigator-section
      margin-bottom: 11px
      background: $section-background
    .location
      margin-bottom: 11px
      background: $section-background
.toggle-page
  background-color: $content-background
  position: absolute
