@import 'Variables'

:local(.complaint-page)
  .content
    background-color: $content-background
    .timeline
      background: $timeline-background
      padding-bottom: 11px
    .against-section
      margin-bottom: 11px
      background: $section-background
.toggle-page
  background-color: $content-background
  position: absolute
