@import 'variables'

:local(.complaint-page)
  font-size: 14px

  .header
    padding-left: 0
    margin-left: $side-margin

    &.expanded
      border-bottom: none

    .subheader
      font-size: 14px
      float: right
      position: relative
      top: 50%
      transform: translateY(-50%)

      .coaccused-text
        color: $greyish
        font-weight: 300
        margin-right: 14px

  .sticky
    background-color: white

    .title
      display: none

  .complaint-page-body
    margin: 0 $side-margin

  .relative
    position: relative

  .attachment-request-link

    &, &:hover, &:visited, &:link, &:active
      text-decoration: none
      color: $thunder
