@import 'Variables'

$vertical-margin: 50px
$padding: $header-logo-padding-x

:local(.faq-detail)

  .question
    font-size: 30px
    font-weight: 500
    color: inherit
    padding: 95px $padding 32px $padding

  .answer
    padding: $padding
    font-size: 20px
    font-weight: 300

    p
      margin-bottom: 20px
