@import 'Variables'

$body-padding: 50px

:local(.faq-page)
  font-size: 16px

  .row
    text-decoration: none
    color: inherit
    display: block

    border-bottom: $divider
    padding: 15px $horizontal-padding 16px $horizontal-padding

  .sheet-body
    padding-top: $body-padding
