@import 'Variables'

$body-padding: 50px

:local(.faq-page)

  .row
    text-decoration: none
    color: inherit
    display: block

    border-bottom: 2px solid $alto-solid
    padding-top: 15px
    padding-bottom: 16px

  .sheet-body
    padding-top: $body-padding
    padding-bottom: $body-padding
