@import 'Variables'

$body-padding: 50px

:local(.faq-page)
  font-size: 16px

  .row
    text-decoration: none
    color: inherit
    display: block

    border-bottom: $divider-weight solid $alto-solid
    padding-top: 15px
    padding-bottom: 16px
    padding-right: $horizontal-padding

  .sheet-body
    padding-top: $body-padding
    padding-bottom: $body-padding
