@import 'Variables'
@import 'Mixins'

:local(.search-page)

  .query-input
    outline: none
    padding: 12px 11px
    width: 100%
    border: 0
    border-bottom: 1px solid $alto
    border-radius: 0
    -webkit-appearance: none // remove iphone input inner shadow

    font-weight: 400

  .categories
    font-size: 14px
    background-color: white
    color: $dusty-gray
    height: 37px
    padding: 10px 11px 9px 11px
    font-weight: 400

    box-shadow: 0 2px 4px #ddd

    button
      background: none !important
      color: inherit
      border: none
      padding: 0 !important
      font: inherit
      outline: none

  .category-link
    margin-right: 21px
    text-decoration: none
    color: inherit
    cursor: pointer

  .bottom-padding
    height: 133px
    background-color: $wild-sand
