@import 'Variables'
@import 'Mixins'

:local(.search-page)

  :local(.sticky)
    position: fixed
    top: 0
    left: 0
    right: 0
    box-shadow: 0 1px 2px #e4e4e4

  .category-details-container
    padding-top: $query-input-height + $search-category-links-height

  .input-container
    border-bottom: $divider-weight solid $alto
    border-radius: 0
    background-color: white
    font-size: 14px

    .query-input-container
      position: relative
      width: 80%
      display: inline-block
      vertical-align: middle

      .query-input
        outline: none
        padding: 12px 11px
        width: 100%
        border: 0
        -webkit-appearance: none // remove iphone input inner shadow
        height: $query-input-height - $divider-weight
        font-weight: 600
        font: inherit
        color: $thunder


        @include placeholder
          color: $dusty-gray
          font: inherit



      .clear-icon
        position: absolute
        top: 0
        bottom: 0
        right: 0
        height: 22px
        width: 22px
        margin: auto
        cursor: pointer

    .bt-done
      background-color: inherit
      color: $dusty-gray
      border: none
      padding: 0 !important
      font: inherit
      outline: none
      display: inline-block
      width: 20%
      vertical-align: middle
      margin-top: 0

  .categories
    font-size: 14px
    background-color: white
    color: $dusty-gray
    height: $search-category-links-height
    padding: 10px 11px 9px 11px
    font-weight: 400

    button
      background: none !important
      color: inherit
      border: none
      padding: 0 !important
      font: inherit
      outline: none

  .category-link
    margin-right: 21px
    text-decoration: none
    color: inherit
    cursor: pointer

    &.active
      color: $thunder

  .bottom-padding
    min-height: 0
    background-color: $wild-sand
