@import 'Variables'
@import 'Mixins'

$query-input-width: 77%

:local(.search-page)
  margin: 0 $side-margin

  :local(.sticky)
    position: fixed
    top: 0
    left: 0
    right: 0

  .category-details-container
    padding-top: $query-input-height + $search-category-links-height + 2*$new-divider-weight

  .input-container
    border-radius: 0
    background-color: white
    font-size: 14px

    .query-input-container
      position: relative
      width: calc(100% - #{$button-done-width} - 2*#{$side-margin})
      display: inline-block
      vertical-align: middle
      margin-right: 8px

      .query-input
        outline: none
        margin: $side-margin
        padding-left: $side-margin
        width: 100%
        border: 0
        border-radius: 2px
        -webkit-appearance: none // remove iphone input inner shadow
        height: $query-input-height - 2*$side-margin
        font-weight: 600
        font: inherit
        color: $thunder
        background-color: $wild-sand

        @include placeholder
          color: $dusty-gray
          font: inherit

      .clear-icon
        position: absolute
        top: 0
        bottom: 0
        right: 0
        height: 22px
        width: 22px
        margin: auto
        cursor: pointer

    .bt-cancel
      background-color: inherit
      color: $dusty-gray
      border: none
      padding: 0 !important
      font: inherit
      outline: none
      display: inline-block
      width: $button-done-width
      text-align: right
      padding-right: $side-margin
      vertical-align: middle
      margin-top: 0

  .categories
    font-size: 14px
    background-color: white
    color: $dusty-gray
    line-height: 18px
    padding: 11px $side-margin 11px $side-margin
    font-weight: 400
    border-top: $new-divider-weight solid $alto-solid
    border-bottom: $new-divider-weight solid $alto-solid

    button
      background: none !important
      color: inherit
      border: none
      padding: 0 !important
      font: inherit
      outline: none

  .category-link
    margin-right: 21px
    text-decoration: none
    color: inherit
    cursor: pointer

    &.active
      color: $thunder

  .bottom-padding
    min-height: 0
    background-color: white
