@import 'fonts'
@import 'variables'

.Toastify__toast-container--top-right
    top: 48px
    right: 8px
    left: unset

.Toastify__toast-container--top-right.landing
    top: 8px
    right: 8px

.Toastify__toast-container--top-right.search
    top: 110px

.Toastify__toast-container--top-right.pinboard
    top: 100px

.Toastify__toast-container
    max-width: 304px
    min-width: 150px
    width: auto
    z-index: $toast-z-index
    -webkit-transform: translate3d(0,0,0)

.Toastify__toast
    padding: 0
    margin-bottom: 8px

.Toastify__toast-body
  font-family: $san-francisco
  font-weight: 300
  font-size: 14px
  line-height: 16px
  white-space: pre-line

@keyframes slideInDown
    from
        transform: translate3d(0, -100vh, 0)
        visibility: visible
    to
        transform: translate3d(0, 0, 0)

@keyframes fadeOut
    0%
        opacity: 1
    100%
        opacity: 0
        display: none

.toast-enter--top-right
    animation-name: slideInDown

.toast-exit--top-right
    animation-name: fadeOut
