// COLOR DEFINITION
$white: #ffffff
$black: #000000
$red:  #ff0000
$blue: #0000ff
$midnight-blue: #003366
$bay-of-many: #26527f
$blue-ribbon: #1464f1
$accent-blue: #005ef4
$soft-gray: #979797
$haiti: #2f1238
$valencia: #dc3747
$flamingo: #f46937
$sea-buck-thorn: #f69833
$ripe-lemon: #f0c41b
$hippie-green: #5d924e
$wild-sand: #f5f4f4
$thunder: #231f20
$thunder-90-color: rgba(35, 31, 32, 0.9)
$alto: #d8d8d8
$alto2: #e0e0e0
$wild-sand-solid: #f4f4f4
$royal-blue: #4573dd
$alto-solid: #dbdbdb
$gandalf-gray: #8f8f8f
$gandalf-gray-40: rgba(143, 143, 143, 0.4)
$greyish: #adadad
$metadata-black: #1a1818
$bright-orange: #ff6000
$snow-color: #fbfafa
$scarlet-color: #ff1f00
$champagne: #fbe2d4
$azalea: #F5CCCC
$torchRed: #F9001E
$boulder: #767676
$hawkes-blue: #ccdffd
$cash-green-color: #499C21
$pudding-matcha: #E2EDDB
$black20-color: rgba(0, 0, 0, 0.2)
$black15-color: rgba(0, 0, 0, 0.15)
$black0-color: rgba(255, 255, 255, 0)
$darker-grey-color: #4A4A4A
$mine-shaft-color: #3C3C3C
$denim-50-color: rgba(16, 94, 217, 0.5)
$smoke-gray: #9F9F9F
$boston-red: #CC0000
$satin-linen: #E6E1DA
$mine-shaft: #3C3C3C
$sprout-color: #C7DFBB
$japanese-laurel: #236C00
$light-blue: #1775F1

// SITE
$site-text-color: $haiti
$content-background: $white

// NO MATCH
$no-match-text-color: $haiti

// OFFICER PAGE - NO MATCH
$no-match-officer-id-text-color: $red

// CIRCLE COLORS
$level-0-color: $valencia
$level-1-color: $flamingo
$level-2-color: $sea-buck-thorn
$level-3-color: $ripe-lemon
$level-4-color: $hippie-green

//LOADING COLOR
$loading-color-1: $midnight-blue
$loading-color-2: $bay-of-many
$loading-color-3: $blue-ribbon

//HEADER
$header-logo-padding-x: 11px

$header-height: 40px

// SEARCH PAGE
$query-input-height: 48px
$button-done-width: 56px

// PADDING
$side-margin: 8px

// PINBOARD BAR
$pinboard-bar-height: 54px

$pinboard-fade-animation-duration: 1s

// FONT
$san-francisco-text-family: "San Francisco Text", sans-serif
