@import '../Variables'

:local(.main-page-content)
  position: relative
  width: 100%
  color: $logo-text-color
  background-color: $logo-background

  &.top-left
    background-color: transparent
    padding-bottom: 0

    .wrapper
      margin-top: 0

  .search-bar
    background-color: $white
    color: $search-bar-color
    font-size: 15px
    border: solid 1px $alto
    height: 51px
    line-height: 51px

    .input-text
      background-color: $white
      color: $black
      width: calc(100% - 30px)
      font-weight: 300

    ::-webkit-input-placeholder
      color: black

    :-moz-placeholder
      color: $search-bar-color

    ::-moz-placeholder
      color: $search-bar-color

    :-ms-input-placeholder
      color: $search-bar-color

  .wrapper
    margin-top: 140px

  .search-description
    padding: 11px 21px 0 11px
    font-size: 13px
    letter-spacing: 0
    color: rgba(0, 0, 0, 0.5)

  .search-wrapper
    width: 100%
    padding: 0 11px
    &.top-left
      margin-top: 0
      padding: 0

  .search-results
    color: $search-results-text-color
