@import 'Variables'
@import '../Mixins'

:local(.main-page-content)
  position: relative
  width: 100%
  color: $logo-text-color
  background-color: $logo-background

  &.top-left
    background-color: transparent
    padding-bottom: 0

    .wrapper
      margin-top: 0
      top: 0

  .search-bar
    display: block
    background-color: $white
    text-decoration: none
    color: $search-bar-color
    font-size: 18px
    border: 0
    border-bottom: solid 2px $alto
    height: 42px
    line-height: 42px
    padding: 0
    margin: 0 $header-logo-padding-x
    width: calc(100% - #{$header-logo-padding-x} * 2)
    outline: none
    font-weight: 200


  .wrapper
    position: absolute
    bottom: 0
    width: 100%

  .search-description
    padding: 11px 21px 0 11px
    font-size: 13px
    letter-spacing: 0
    color: rgba(0, 0, 0, 0.5)

  .full-height-wrapper
    position: relative
