@import 'variables'

\:local(.attachments)
  padding-top: 50px

  .header
    font-size: 14px
    display: flex
    justify-content: space-between
    height: 28px
    line-height: 28px
    padding: 0
    margin-bottom: 30px

    .label
      color: $dusty-gray

    &.no-attachment
      display: block
      height: auto
      background-color: $wild-sand
      text-align: center
      padding: 10px 0 8px 0
      margin: 0 -8px 30px

      .label
        padding: 0 20px
        line-height: 1.4em
        margin-bottom: 8px

      .request-button-container
        float: none

  .attachment-list
    .attachment
      padding: 5px
      width: 140px
      display: inline-block
      text-decoration: none
      align-items: center
      vertical-align: top

    .attachment-thumbnail
      width: 45px
      height: 60px
      border: solid 1px $soft-gray
      margin: 0 auto
      background: $wild-sand no-repeat center center

      &.document
        background-size: cover

    .attachment-title
      font-size: 14px
      font-weight: 400
      color: $boulder
      text-align: center
      margin-top: 8px
