@import 'variables'

\:local(.pinned-type)
  width: 100%
  margin-top: 31px
  min-width: 320px

  .type-title
    font-size: 14px
    color: $thunder-color

  .type-cards-loading
    margin: 0 auto
    display: block
    width: 176px
    height: 176px
