@import 'variables'

\:local(.cr-search-result)
  .cr-search-item
    display: flex
    flex-direction: column
    padding: 11px 0
    border-bottom: 1px solid $alto-solid
    text-decoration: none

    .item-type
      font-size: 14px
      font-weight: 400
      color: $thunder
      margin-right: 8px

    .item-id
      font-size: 12px
      font-weight: 400
      color: $greyish
