@import 'variables'

:local(.cr-search-result)
  .item-info
    box-sizing: border-box
    margin-left: 8px
    padding-top: 1px

  .item-type
    font-size: 14px
    font-weight: 400
    color: $thunder
    margin-right: 8px

  .item-id
    font-size: 12px
    font-weight: 400
    color: $greyish
