@import 'variables'

%pinned-style
  background-color: $pudding-matcha !important
  border: 1px solid $pudding-matcha !important
  background-image: url('/img/ic-plus-green.svg') !important

\:local(.wrapper)
  width: 32px
  height: 32px
  background-size: 12px 12px
  background: $wild-sand url('/img/ic-plus-bold.svg') no-repeat center
  box-sizing: border-box
  display: inline-block
  float: left
  top: 3px
  right: 16px
  border: 1px solid $alto-solid
  border-radius: 2px

  &.is-pinned
    @extend %pinned-style
