@import 'variables'


\:local(.officer-info)
  box-sizing: border-box
  margin-left: 8px
  padding-top: 1px

  .officer-name
    font-size: 14px
    font-weight: 300
    color: $thunder

  .officer-badge
    font-size: 12px
    font-weight: 300
    color: $greyish
