@import 'variables'

:local(.officer-item)
  display: flex
  padding: 11px 0
  text-decoration: none
  border-bottom: 1px solid $alto-solid

  .radar-chart-wrapper
    width: 32px
    height: 32px
    border-radius: 2px
    overflow: hidden
    margin-right: 8px

  .officer-name
    font-size: 14px
    font-weight: 400
    color: $thunder

  .officer-badge
    font-size: 12px
    font-weight: 400
    color: $greyish
