@import 'variables'

%pinboard-bar-common
  display: block
  width: 100%
  height: $pinboard-bar-height
  box-sizing: border-box
  padding-top: 19px
  text-align: center
  font-size: 14px
  font-weight: 300

\:local(.pinboard-bar)
  @extend %pinboard-bar-common
  color: $japanese-laurel
  background-color: $pudding-matcha
  text-decoration: none

  .pinboard-bar-indicator
    display: block
    position: relative
    width: 7px
    height: 12px
    background-image: url('/img/disclosure-indicator-gray.svg')
    background-position: center
    background-repeat: no-repeat
    background-size: 7px 12px
    left: calc(100% - 15px)
    bottom: calc(100% - 20px)
