@import 'variables'

\:local(.categories)
  font-size: 14px
  background-color: white
  color: $boulder
  line-height: 18px
  padding: 11px $side-margin 11px $side-margin
  font-weight: 400
  border-top: $new-divider-weight solid $alto-solid
  border-bottom: $new-divider-weight solid $alto-solid
  height: 44px

  .clear-icon
    margin-top: -2px
    float: right

  .category-link
    margin-right: 21px
    text-decoration: none
    color: inherit
    cursor: pointer
    background: none !important
    border: none
    padding: 0 !important
    font: inherit
    outline: none

    &.active
      color: $thunder
