@import 'variables'

:local(.wrapper)
  display: flex
  padding: 11px 0
  text-decoration: none

  .item-indicator
    display: block
    width: 7px
    height: 12px
    background-image: url('/img/disclosure-indicator-gray.svg')
    background-position: center
    background-repeat: no-repeat
    background-size: 7px 12px
    margin-left: auto
    align-self: center

