@import 'variables'
@import 'fonts'
@import 'mixins'


\:local(.search-page)
  margin: 0 $side-margin

  \:local(.sticky)
    position: fixed
    top: 0
    left: 0
    right: 0

  .category-details-container
    padding-top: $query-input-height + $pinboard-bar-height

  .input-container
    background-color: white
    font-size: 14px
    padding: $side-margin

    .query-input
      position: relative
      width: calc(100% - #{$button-done-width})
      display: inline-block
      outline: none
      padding-left: $side-margin
      border: 0
      border-radius: 2px
      -webkit-appearance: none // remove iphone input inner shadow
      height: $query-input-height - 2*$side-margin
      font-weight: 600
      font: inherit
      color: $thunder
      background-color: $wild-sand

      @include placeholder
        color: $boulder
        font: inherit

      &:not([value=''])
        border: 1px solid $alto-solid

    .bt-cancel
      background-color: inherit
      color: $accent-blue
      border: none
      padding: 0 !important
      font: inherit
      outline: none
      display: inline-block
      width: $button-done-width
      text-align: right
      font-weight: 300

      &.active
        color: $boulder

  .bottom-padding
    min-height: 0
    background-color: white

  .back-to-full-search-link
    height: 44px
    line-height: 44px
    color: $accent-blue
    font-weight: 300

  .back-to-front-page-link
    display: block
    color: $accent-blue
    line-height: 16px
    margin: 128px 0
    padding: 12px 0
    font-size: 14px
    font-weight: 300

.toast-wrapper
  background-color: $sprout-color
  border-radius: 2px
  color: $japanese-laurel
  line-height: 40px
  min-height: 40px
  padding: 0
  text-align: center
  width: auto
  box-shadow: 0 1px 2px 0 $black15-color

  &.removed
    background-color: $wild-sand
    color: $thunder

.toast-body
  font-family: $san-francisco
  font-weight: 300
  font-size: 14px
