@import 'variables'

$padding: $header-logo-padding-x
$suggested-type-width: 114px

\:local(.search-category)
  font-size: 14px
  font-weight: 400

  .title
    height: 64px
    background-color: white
    padding: 38px $side-margin 8px 0
    color: $boulder
    vertical-align: bottom
    font-weight: 300

    &.active
      color: $thunder

  .results
    .row
      color: inherit
      padding: 11px 0
      font-weight: 300

      &:last-child
        border-bottom: 0

      .officer-badge-number
        color: $boulder

      .suggested-type
        color: $boulder
        width: $suggested-type-width

    .all
      height: 44px
      line-height: 44px
      color: $accent-blue
      font-weight: 300
