@import 'variables'
@import 'mixins'


\:local(.search-page)
  margin: 0 $side-margin

  .search-page-header
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 1

  .category-details-container
    padding-top: $query-input-height + $pinboard-bar-height

  .input-container
    background-color: white
    font-size: 14px
    padding: $side-margin

    .query-input
      position: relative
      width: calc(100% - #{$button-done-width})
      display: inline-block
      outline: none
      padding-left: $side-margin
      border: 0
      border-radius: 2px
      -webkit-appearance: none // remove iphone input inner shadow
      height: $query-input-height - 2*$side-margin
      font-weight: 600
      font: inherit
      color: $thunder-color
      background-color: $wild-sand-color

      @include placeholder
        color: $boulder-color
        font: inherit

      &:not([value=''])
        border: 1px solid $alto-color

    .bt-cancel
      background-color: inherit
      color: $blue-ribbon-color
      border: none
      padding: 0 !important
      font: inherit
      outline: none
      display: inline-block
      width: $button-done-width
      text-align: right
      font-weight: 300

      &.active
        color: $boulder-color

  .bottom-padding
    min-height: 0
    background-color: white

  .back-to-full-search-link
    font-size: 14px
    height: 44px
    line-height: 44px
    color: $blue-ribbon-color
    font-weight: 300

  .back-to-front-page-link
    display: block
    color: $blue-ribbon-color
    line-height: 16px
    margin: 128px 0
    padding: 12px 0
    font-size: 14px
    font-weight: 300

.pinboard-disabled
  \:local(.search-page)
    .category-details-container
      padding-top: $query-input-height

