@import 'variables'

\:local(.wrapper)
  display: flex
  padding: 11px 0
  text-decoration: none
  position: relative

  .item-pin-button
    margin-right: 8px

  .item-indicator
    display: block
    width: 7px
    height: 12px
    background-image: url('/img/disclosure-indicator-gray.svg')
    background-position: center
    background-repeat: no-repeat
    background-size: 7px 12px
    margin-left: auto
    align-self: center

  .pin-button-introduction
    position: absolute
    top: 2px
    left: 48px
    width: 150px
    color: $bilbao-color
    font-size: 14px
    font-weight: 400
    line-height: 17px
    background-color: $willow-brook-color
    border-radius: 6px
    box-shadow: 0 4px 24px $black-19-color
    padding: 8px 10px 9px 11px
    white-space: normal

\:local(.item-info)
  box-sizing: border-box
  padding-top: 1px

  .item-title
    font-size: 14px
    font-weight: 300
    color: $thunder-color
    margin-right: 8px

  .item-subtitle
    font-size: 12px
    font-weight: 300
    color: $boulder-color

  &.inline
    display: flex

    .item-title
      align-self: center

    .item-subtitle
      align-self: center
