@import 'variables'
@import 'mixins'

$query-input-width: 77%

\:local(.search-page)
  margin: 0 $side-margin

  \:local(.sticky)
    position: fixed
    top: 0
    left: 0
    right: 0

  .category-details-container
    padding-top: $query-input-height + $search-category-links-height + 2*$new-divider-weight

  .input-container
    border-radius: 0
    background-color: white
    font-size: 14px
    padding: $side-margin

    .query-input
      position: relative
      width: calc(100% - #{$button-done-width})
      display: inline-block
      outline: none
      padding-left: $side-margin
      border: 0
      border-radius: 2px
      -webkit-appearance: none // remove iphone input inner shadow
      height: $query-input-height - 2*$side-margin
      font-weight: 600
      font: inherit
      color: $thunder
      background-color: $wild-sand

    @include placeholder
      color: $boulder
      font: inherit

    .bt-cancel
      background-color: inherit
      color: $boulder
      border: none
      padding: 0 !important
      font: inherit
      outline: none
      display: inline-block
      width: $button-done-width
      text-align: right
      padding-right: $side-margin
      vertical-align: middle
      margin-top: 0

  .bottom-padding
    min-height: 0
    background-color: white

  .back-to-full-search-link
    height: 44px
    line-height: 44px
    color: $accent-blue
    font-weight: 300
