@import 'variables'

\:local(.trr-search-result)
  .search-item
    display: flex
    padding: 11px 0
    border-bottom: 1px solid $alto-solid
    text-decoration: none

    .item-type
      font-size: 14px
      font-weight: 400
      color: $thunder
      margin-right: 8px
      width: 26px

    .item-id
      font-size: 14px
      font-weight: 400
      color: $boulder
