@import 'variables'

:local(.trr-search-result)
  .item-info
    box-sizing: border-box
    margin-left: 8px
    padding-top: 1px
    display: flex

  .item-type
    font-size: 14px
    font-weight: 300
    color: $thunder
    margin-right: 8px
    width: 26px
    align-self: center

  .item-id
    font-size: 14px
    font-weight: 300
    color: $greyish
    align-self: center
