@import 'variables'

:local(.trr-search-result)
  .item-type
    font-size: 14px
    font-weight: 400
    color: $thunder
    margin-right: 8px
    width: 26px

  .item-id
    font-size: 14px
    font-weight: 400
    color: $greyish
