@import '../../../Variables'

:local(.radar-axis-text)
  font-size: 10px
  fill: $thunder

  .radar-axis-text-title
    font-weight: 300
    fill: $wild-sand

  .radar-axis-text-value
    fill: $thunder
