@import 'variables'


:local(.officer-coaccusals)
  background-color: $wild-sand

  .coaccusals-group
    color: $thunder
    font-size: 14px

    .coaccusals-group-name
      padding: 38px 8px 8px 8px

    .coaccusals-group-items
      padding: 0 4px

:local(.inline-officer-card)
  display: inline-block
  margin: 0 4px 8px 4px
  width: calc(50% - 8px)
