@import 'variables'


:local(.officer-coaccusals)
  background-color: $wild-sand
  padding-left: 8px

  .coaccusals-group
    color: $thunder
    font-size: 14px

    .coaccusals-group-name
      margin: 38px 0 8px 0
