@import 'variables'
@import '../base'

$height: 68px
$cr-kind-width: 40px
$cr-right-width: 81px

\:local(.wrapper)
  @extend %base-wrapper
  background-color: $hint-of-red-color
  height: $height
  line-height: $height - 1px

  .content
    .kind
      @extend %base-kind
      color: $blaze-orange-light-color
      border-color: $champagne-color

      &.sustained
        color: $scarlet-color
        background-color: $champagne-color

    .detail
      width: calc(100% - #{$cr-kind-width} - #{$cr-right-width})

      @extend %base-detail
      display: inline-block
      vertical-align: middle

      .category
        @extend %base-category
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        color: $thunder-color

      .finding
        font-weight: 300
        line-height: 14px
        font-size: 16px
        color: $boulder-color

    .right
      @extend %base-right

      .date
        @extend %base-date
        color: $boulder-color
        font-weight: 300
        float: none
