@import '../Variables'

:local(.attachment)
  background: white
  color: $gandalf-gray

  .title
    display: block
    vertical-align: middle
    line-height: 28px
    padding: 32px $side-margin 11px


  .request-document-button
    border: 1px solid $alto-solid
    border-radius: 2px
    padding: 0 $side-margin
    line-height: 26px
    vertical-align: middle
    float: right
    cursor: pointer

  .subtitle
    background: $wild-sand
    line-height: 40px
    vertical-align: middle
    text-align: center

  .content
    display: block
    height: 40px
    vertical-align: middle
    text-align: center

