@import 'variables'

\:local(.officer-attachments-tab-complaint)
  background-color: $snow-color
  display: inline-block
  width: 100%
  border-radius: 2px
  border: solid 1px $alto-solid
  margin-top: 8px
  font-size: 14px

  .attachments
    display: flex
    flex-flow: row
    flex-wrap: wrap
    align-items: center
    justify-content: flex-start
