@import '../Variables'

:local(.officer-top-links)
  margin-bottom: 16px

  .officer-link
    display: block
    text-decoration: none
    color: $dusty-gray

    height: 40px
    padding: $horizontal-padding $side-margin
    font-size: 15px
    font-weight: 400

    &.active
      color: $thunder
