@import '../Variables'

:local(.officer-timeline)
  font-size: 14px

  .sheet-header
    border-bottom: 0

  :local(.divider)
    height: 40px
    background-color: $wild-sand

  :local(.vertical-line)
    height: 100%
    border-right: 2px solid #e9e8e8
    float: right
    margin-right: $horizontal-padding
