@import '../Variables'

:local(.officer-top-links)

  .officer-link
    display: block
    text-decoration: none
    color: $dusty-gray

    height: 44px
    padding: 12px $horizontal-padding
    font-size: 15px
    font-weight: 400

    &.active
      color: $thunder
