@import '../Variables'

:local(.section-row)
  padding: $horizontal-padding 0
  border-bottom: 2px solid $alto-solid

  &:last-child
    border-bottom: 0

  .label
    display: inline-block
    width: 128px - $horizontal-padding
    color: $dusty-gray

  .value
    color: $metadata-black

  .extra-info
    color: $dusty-gray
    padding-left: 8px
