@import 'Variables'

$gray-border: 2px solid $alto-solid

$count-width: 32px
$entry-name-width: calc(100% - #{$count-width * 2})

:local(.stats-section)
  .facet
    .facet-name
      color: $gandalf-gray
      text-transform: uppercase
      padding: 18px 0px $side-margin 0px
      font-weight: 400

    .facet-entry
      padding: 7px 0

      &.total
        margin-left: 0
        padding-left: $horizontal-padding

      &:last-child
        border-bottom: 0

      .facet-entry-count
        display: inline-block
        vertical-align: top
        color: $thunder

        &.sustained
          color: $bright-orange
          float: right

          &.zero
            color: rgba(255, 95, 0, 0.4)

      .facet-entry-name
        color: $greyish
        width: $entry-name-width
        display: inline-block
        font-weight: 400

  .complaint-counts
    font-size: 26px

    .total-count
      color: $thunder
      margin-right: 5px

      &::before
        background-color: $thunder

    .sustained-count
      color: $bright-orange
      white-space: nowrap
      display: inline-block

      &::before
        background-color: $bright-orange
