@import '../Variables'

$gray-border: 2px solid $alto-solid
$bright-orange: #ff5f00

$count-width: 32px
$entry-name-width: calc(100% - #{$count-width * 2})

:local(.stats-section)

  .facet
    margin-right: $side-margin

    .facet-name
      color: $dusty-gray
      text-transform: uppercase
      padding: 18px 0px $side-margin 0px

    .facet-entry
      padding: 7px 0

      &.total
        margin-left: 0
        padding-left: $horizontal-padding

      &:last-child
        border-bottom: 0

      .facet-entry-count
        display: inline-block
        vertical-align: top
        color: $thunder

        &.sustained
          color: $bright-orange
          float: right

          &.zero
            color: rgba(255, 95, 0, 0.4)

      .facet-entry-name
        color: $greyish
        width: $entry-name-width
        display: inline-block
        font-weight: 300

  .complaint-counts
    font-size: 12px

    .count
      font-size: 26px
      margin: 0 10px 16px 0
      transform: translateY(-10px)

    .total-count
      color: $thunder

      &::before
        background-color: $thunder

    .sustained-count
      color: $bright-orange

      &::before
        background-color: $bright-orange
