@import '../../Variables'

:local(.search-bar)
  padding: 0 10px
  background-color: $search-bar-background-color
  color: $search-bar-color
  width: 100%
  border: none
  font-size: 15px
  height: 60px
  line-height: 60px
  .input-text
    background-color: $search-bar-background-color
    color: $search-bar-color
    width: calc(100% - 30px)
    border: 0
    font-size: 15px
  .input-text:focus
    outline: 0
  .search-icon
    padding: 0 13px 0 4px
  ::-webkit-input-placeholder
    color: black
  :-moz-placeholder
    color: $search-bar-color
  ::-moz-placeholder
    color: $search-bar-color
  :-ms-input-placeholder
    color: $search-bar-color
