@import 'variables'


\:local(.app)
  &.pinboard-disabled
    .pinboard-feature
      display: none !important

  background-color: $content-background

  &.gray
    background-color: $wild-sand-color

  // TODO: the following is useful styling extracted from BottomSheet stylesheet.
  // Should refactor this into something cleaner instead of plastering all over main page.
  .header
    font-size: 26px
    background-color: white
    height: 64px
    line-height: 64px
    padding: 0 $side-margin

    &.empty
      height: 20px
      color: white
      overflow: hidden

  .sticky
    z-index: $sticky-z-index
