@import 'variables'

:local(.footer)

  .footer-items
    display: flex
    padding: 11px 8px

    .item
      margin-right: 24px
      color: $gandalf-gray
      font-size: 14px
      text-decoration: none

  .invist-logo-link
    padding: 11px 8px 6px 0
    background-color: $alto-solid
    display: block

    .invist-logo
      height: 22px
      line-height: 22px
      display: inline-block
