@import 'variables'

:local(.landing-page)
  background-color: $wild-sand

  .full-height-wrapper
    position: relative
    height: 87vh
    background-color: $white
    padding: 0 8px

  .title
    margin-top: 4px
    font-size: 12px
    color: $thunder
    font-weight: 400

  .search-bar
    text-decoration: none
    color: $greyish
    background-color: $wild-sand
    font-size: 13px
    font-weight: 300
    padding: 8px
    position: absolute
    left: 0
    right: 0
    top: 50%
    transform: translateY(-50%)
