@import 'variables'

:local(.officer-summary)
  font-size: 14px

  .officer-name
    border-bottom: 0
    text-align: center

  .row
    line-height: 20px
    padding-top: 9px
    padding-bottom: 11px
    color: $gandalf-gray

  .officer-demographic
    @extend .row
    margin: 0 $side-margin
    border-top: 1px solid $alto-solid
    text-align: center

  .historic-badges-container
    max-height: 0
    overflow: hidden
    transition: max-height .3s ease-out

    .historic-badges
      @extend .row
      padding-right: 12px
      text-align: right
      background-color: $wild-sand

    &.expanded
      max-height: 80px
      transition: max-height .3s ease-in

  .historic-badges-toggle
    float: right
    color: $gandalf-gray

    .toggle-arrow
      margin-left: 10px

      transform: rotate(90deg)

      &.expanded
        transform: rotate(-90deg)


