@import '../../Variables'


:local(.media-card)
  height: 44px
  .media-icon
    width: 10px
    height: 10px
    &.document-icon
      background: url('../../../img/ic-document.svg') no-repeat center
    &.video-icon
      background: url('../../../img/ic-video.svg') no-repeat center
    &.audio-icon
      background: url('../../../img/ic-audio.svg') no-repeat center
  .icon-wrapper
    padding-top: 17px
    padding-left: 4px
  .media-detail
    font-size: 12px
    padding-top: 15px
    color: $haiti
