@import 'variables'


%base-toast-wrapper
  background-color: $sprout-color !important
  border-radius: 4px !important
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) !important
  color: $japanese-laurel !important
  line-height: 40px
  min-height: 40px
  font-size: 14px
  padding: 0
  text-align: left
  width: auto

\:local(.pinboard-page-toast)
  @extend %base-toast-wrapper
  padding: 12px 8px !important
  width: 296px
  color: $japanese-laurel !important
  background-color: $sprout-color !important

\:local(.alert-toast)
  @extend %base-toast-wrapper
  background-color: $champagne !important
  color: $scarlet-color !important
  padding: 12px 8px !important
  width: 296px
