@import 'variables'

:local(.coaccused-card)
  width: calc(50% - 4px)
  margin-top: 8px

:local(.officer-card-accused-info)
  padding: 0 8px
  background-color: $white
  height: 119px
  display: inline-block
  width: 100%

  .category
    height: 36px
    margin: 11px 0
    font-size: 14px
    font-weight: 500
    color: $thunder
    overflow: hidden

  .finding-outcome
    padding: 8px 0 13px 0
    border-top: 1px solid $alto-solid
    max-height: 61px
    overflow: hidden
    box-sizing: border-box

    .text
      display: inline-block
      padding: 3px 8px
      font-size: 14px
      font-weight: 400
      color: $thunder
      border-radius: 2px
      max-height: 39px
      overflow: hidden
      box-sizing: border-box

      &.disciplined
        background-color: $azalea
        border: 1px solid $azalea

      &.sustained
        background-color: $champagne
        border: 1px solid $champagne

      &.not-sustained
        background-color: 'transparent'
        border: 1px solid $champagne
