@import 'variables'

\:local(.attachment)
  background: white
  color: $gandalf-gray

  .attachment-header
    display: block
    background-color: $wild-sand
    text-align: center
    padding: 10px 0 8px 0
    margin: 30px 0

    .title
      padding: 0 20px
      line-height: 1.4em
      margin-bottom: 8px
      font-size: 14px

    .request-button-container
      float: none
