@import 'variables'

:local(.trr-info)
  background: white
  border: 1px solid $alto-solid
  border-radius: 2px
  margin-top: $side-margin

  .victim-section
    border-bottom: 1px solid $alto-solid
    line-height: 40px
    color: $thunder
    padding: 0 $side-margin

    .title, .value
      display: inline-block
      vertical-align: middle

    .title
      color: $gandalf-gray
      min-width: 96px
      font-weight: 300

  .date-title
    margin: 0 $side-margin
    padding-top: 30px
    color: $gandalf-gray
    line-height: 34px
    font-weight: 300

  .incident-date
    margin: 0 $side-margin
    line-height: 40px
    color: $thunder
