@import 'variables'

\:local(.trr-officer)
  background: white
  border: 1px solid $alto-color
  border-radius: 2px
  padding: 0 $side-margin

  img.navigation-arrow
    float: right
    width: 8px
    height: 13px
    vertical-align: middle
    display: inline-block

  .officer-row
    border-bottom: 1px solid $alto-color
    padding: $side-margin 0
    height: 54px
    display: block
    text-decoration: none
    color: $thunder-color

    .officer-visual-token
      width: 38px
      height: 38px
      border-radius: 2px
      display: inline-block
      vertical-align: middle
      overflow: hidden

    .officer-profile
      vertical-align: middle
      display: inline-block
      margin-left: $side-margin

      .rank
        font-size: 12px
        line-height: 1.17
        color: $boulder-color

    img.navigation-arrow
      margin-top: 13px

  .row
    border-bottom: 1px solid $alto-color
    padding: 11px 0
    box-sizing: border-box

    .title, .value
      display: inline-block

    .title
      color: $boulder-color
      min-width: 96px

    &:last-of-type
      border-bottom: none
