@import 'variables'

:local(.trr-page)
  font-size: 14px
  background: $wild-sand
  color: $thunder

  .row .title, .info-row .title
    font-weight: 300

  .trr-header
    margin: 23px $side-margin 9px
    font-size: 26px
    line-height: 32px
    background: none

  .trr-page-body
    margin: 0 $side-margin
