@import 'variables'

\:local(.type-of-force)
  margin: 30px $side-margin 0
  font-size: 14px

  .title
    display: block
    color: $boulder
    line-height: 34px
    vertical-align: middle

  .top-force-type
    display: block
    line-height: 40px
    color: black

  .force-type
    display: block
    height: 24px
    vertical-align: middle
    color: $thunder
    border-top: 1px solid $alto-solid
    padding-top: 2px
    box-sizing: border-box
