{% if nginx.enable_https %}
server {
    listen      80;
    server_name {{ nginx.server_name }};
    rewrite     ^ https://$server_name$request_uri? permanent;
}
{% endif %}

server {
    listen      {{ '443' if nginx.enable_https else '80'  }};
    server_name {{ nginx.server_name }};
    gzip on;
    gzip_comp_level 5;
    gzip_types text/html application/javascript application/x-javascript text/javascript text/css;
    client_max_body_size 4G;

    {% if nginx.enable_https %}
    ssl on;
    ssl_certificate     {{ nginx.ssl_cert_file }};
    ssl_certificate_key {{ nginx.ssl_key_file }};
    {% endif %}

    access_log {{ nginx.access_log }};
    error_log {{ nginx.error_log }};

    root {{ nginx.app_path }};

    location / {
        try_files $uri $uri/index.html /index.html;
    }

}
