@import 'variables'

\:local(.tabbed-pane-section)
  background-color: white

  .tabbed-pane-section-menu
    height: 27px
    padding-top: 36px
    text-align: center
    background-color: $wild-sand
    border-bottom: 1px solid $alto-solid

    .tabbed-pane-tab-name
      color: $accent-blue
      font-size: 14px
      font-weight: 400
      padding: 8px 8px 9px 8px
      cursor: pointer

      &.active
        color: $thunder
        border-bottom: 2px solid $thunder
