@import 'variables'

\:local(.footer)
  .footer-items
    display: flex
    padding: 11px 16px

    .item
      margin-right: 24px
      color: $boulder-color
      font-size: 14px
      text-decoration: none

  .invist-logo-link
    padding: 11px 8px 114px 9px
    background-color: $alto-color
    display: block

    .invist-logo
      height: 22px
      line-height: 22px
      display: inline-block

\:local(.legal-modal)
  position: absolute
  top: 16px
  left: 16px
  right: 16px
  border-radius: 2px
  border: solid 1px $alto-dark-color
  background-color: $white
  outline: none

\:local(.overlay-legal-modal)
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: transparent
  z-index: $overlay-z-index
