@import 'variables'

\:local(.legal-modal-content)
  display: flex
  flex-direction: column
  padding-bottom: 34px

  .close-button-wrapper
    width: 24px
    height: 24px
    border-radius: 50%
    font-size: 24px
    line-height: 22px
    font-weight: 100
    background-color: $wild-sand-color
    align-self: flex-end
    margin: 11px
    padding-top: 0
    padding-left: 6px

  .close-button
    color: $dusty-gray-color

  .modal-title
    font-size: 14px
    color: $thunder-color
    margin: 0 16px

  .legal-content
    font-size: 14px
    color: $boulder-color
    margin: 16px 16px 0 16px
    font-weight: 300
    line-height: 1.4em

    p
      margin-bottom: 16px

    .legal-link
      color: $blue-ribbon-color
      text-decoration: none

  .confirm-button
    background-color: $gray-color
    border-radius: 2px
    color: $white
    padding: 4px 15px
    align-self: center
    display: inline-flex
    font-size: 14px
    font-weight: 300
