@import 'variables'

:local(.wrapper)
  position: relative
  width: 148px
  height: 176px
  color: $thunder
  box-sizing: border-box
  border: 1px solid $alto
  border-radius: 2px
  font-size: 15px
  margin: 0 8px 8px 0
  font-weight: 300

  .trr-card-map
    width: 100%
    height: 88px

  .trr-card-body
    width: 100%
    height: 86px
    padding: 8px 8px 10px 8px
    box-sizing: border-box
    background-color: $wild-sand

  .trr-date
    display: block
    color: $boulder
    font-size: 12px

  .trr-category
    display: block
    overflow-wrap: break-word
    overflow: hidden
    line-height: 16px
    max-height: 48px
    margin-top: 4px
