@import '../Variables'

:local(.attachment)

  .attachment-content
    padding: 11px 21px 11px 11px

    .not-available-message
      color: $dusty-gray
      margin-bottom: 22px

    .attachment-request-link

      &, &:hover, &:visited, &:link, &:active
        text-decoration: none
        color: $placeholder-blue
