@import '../Variables'

:local(.complaint-category)
  padding: 33px 8px 36px $horizontal-padding
  border-bottom: $divider-weight solid $alto

  .category
    font-weight: 600
    font-size: 30px
    margin-bottom: 9px

  .subcategory
    font-weight: 500
    font-size: 18px
    color: $dusty-gray
