@import '../Variables'

:local(.complainants)
  border-bottom: $divider-weight solid $alto
  margin-top: 11px
  padding-left: $horizontal-padding
  padding-bottom: 11px
  padding-right: 8px

  .title
    color: $dusty-gray
    margin-bottom: 11px
