@import 'variables'

:local(.complaint-category)
  padding: 23px $side-margin
  margin-left: -$side-margin
  margin-right: -$side-margin
  border-top: $divider
  border-bottom: $divider

  .category
    font-size: 26px
    margin-bottom: 4px
    color: $thunder

  .subcategory
    font-weight: 300
    font-size: 18px
    color: $dusty-gray
