@import 'Variables'

:local(.complainants)
  margin-top: 38px

  .title
    color: $dusty-gray
    margin-bottom: 11px
    text-transform: uppercase

  .row
    line-height: 40px
    vertical-align: middle
    border-bottom: $divider

    &:last-child
      border-bottom: none
