@import '../Variables'

$suggested-type-width: 114px

:local(.content-row)
  .name
    display: block
    float: left
    color: $dusty-gray
    width: $suggested-type-width

  .content
    display: block
    float: left
    width: calc(100% - #{$suggested-type-width})
