@import 'variables'

$marker-color: #f9001e

:local(.incident-location)
  margin-top: 38px

  .leaflet-container
    height: 180px
    z-index: 0
    margin-left: -$side-margin
    margin-right: -$side-margin
    width: calc(100% + #{$side-margin}*2)

    .marker-icon
      background-color: $marker-color
      border-radius: 2px

  .captions
    padding-top: 5px
    width: 100%

    tr
      height: 40px
      border-bottom: $divider-weight solid $alto

      &:last-child
        border-bottom: 0

      .address
        height: 18px

        a
          color: inherit
          text-decoration: none

      .arrow
        float: right

      .title
        width: 100px
        color: $dusty-gray

      td
        vertical-align: middle
