@import '../Variables'

:local(.investigation-timeline)
  border-bottom: $divider-weight solid $alto-solid

  .svg
    padding: 11px 8px 10px 8px
    max-width: 320px

  .date
    font-weight: 300

  .event
    font-weight: 400

  .title
    font-weight: 600
    color: $thunder
    margin-bottom: 16px
