@import '../Variables'

:local(.outcome)
  border-bottom: $divider-weight solid $alto

  .row
    padding: 13px 0 $horizontal-padding 0
    margin-left: 13px
    border-bottom: $divider-weight solid $alto

    &:last-child
      border-bottom: 0

    .title
      width: 40%
      display: inline-block
      color: $dusty-gray
