@import '../Variables'

:local(.outcome)
  margin-top: 38px

  .row
    padding: 13px 0 $horizontal-padding 0
    border-bottom: $divider

    &:last-child
      border-bottom: none

    .title
      width: 40%
      display: inline-block
      color: $greyish

    .value
      color: $thunder
