@import 'Variables'

:local(.people-list)
  margin-top: 38px
  table
    width: 100%

    .row
      color: inherit
      text-decoration: none
      display: block
      padding: 11px 0
      border-bottom: $divider-weight solid $alto
      height: 54px

      &:last-child
        border-bottom: none

      .threshold
        width: 32px
        height: 32px
        background-color: $alto-solid

      .content-wrapper
        padding-left: $side-margin
        text-align: left

        .content
          margin-right: 8px
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
          font-weight: 500

        .subcontent
          overflow: hidden
          color: $dusty-gray
