@import '../Variables'

:local(.people-list)
  border-bottom: $divider-weight solid $alto
  margin-top: 11px
  padding-left: $horizontal-padding
  padding-bottom: 11px

  .title
    color: $dusty-gray
    margin-bottom: 14px


  .url
    color: inherit
    text-decoration: none
    display: block
    padding: 13px 0
    border-bottom: $divider-weight solid $alto

    &:last-child
      border-bottom: 0
      padding-bottom: 0

    &:first-child
      padding-top: 0

    .content
      margin-right: 8px
      max-width: 50%
      overflow: hidden
      text-overflow: ellipsis
      display: inline-block
      white-space: nowrap
      font-weight: 500

    .subcontent
      overflow: hidden
      display: inline-block
      color: $dusty-gray

    .arrow
      overflow: hidden
      display: inline-block
      float: right
      margin-right: $horizontal-padding
