@import 'variables'

\:local(.example-pinboard-link)
  display: block
  margin: 0 8px 4px 8px
  padding: 16px 0 16px 12px
  border: 1px solid $alto-solid
  cursor: pointer

.wrapper
  display: inline-block
  vertical-align: middle
  width: calc(100% - 25px)

  .title
    color: $accent-blue
    line-height: 16px
    margin-bottom: 2px

  .description
    color: $boulder
    font-size: 12px
