:local(.horizontal-scrolling)
  overflow: hidden
  box-sizing: content-box

  .swiper-wrapper
    position: relative
    box-sizing: content-box

  .swiper-slide
    display: inline-block
    width: auto
