:local(.horizontal-scrolling)
  overflow: hidden
  box-sizing: content-box

  .swiper-wrapper
    padding-bottom: 10px
    position: relative
    box-sizing: content-box

  .swiper-slide
    display: inline-block
    width: auto
