@import 'variables'

\:local(.item-pin-button)
  width: 32px
  height: 32px
  background-size: 12px 12px
  background: $willow-brook-color url('/img/ic-plus-green.svg') no-repeat center
  box-sizing: border-box
  display: inline-block
  float: left
  top: 3px
  right: 16px
  border-radius: 2px

  &.is-pinned
    background-image: url('/img/ic-minus-dark-grey.svg') !important
    background-color: $wild-sand-color !important
    border: 1px solid #dbdbdb !important

  &.show-introduction
    border: 2px solid $thunder-50-color


\:local(.card-pinned-button)
  position: absolute
  width: 24px
  height: 24px
  top: 4px
  right: 4px
