@import 'variables'
@import '../base-item'

$height: 32px

:local(.wrapper)
  @extend %base-wrapper
  height: $height

  .no-border-bottom
    border-bottom: none

  .content
    @extend %base-content
    height: $height
    line-height: $height - 1px
