@import 'variables'


:local(.officer-timeline)
  background-color: $wild-sand

  .header-wrapper
    width: 100%
    height: 64px
    padding-right: 15px
    font-size: 14px
    font-weight: 300

    .showing-content-header
      display: inline-block
      width: calc(100% - 284px)
      height: 64px
      text-align: center
      font-size: 14px
      font-weight: 300
      color: $gandalf-gray

      .showing-text
        display: inline-block
        line-height: 14px
