@import 'variables'
@import '../base-item'

:local(.wrapper)
  width: 51px
  display: inline-block
  margin: 0 8px 0 17px
  vertical-align: middle

  .more
    float: right
    width: 24px
    margin-left: 3px
    line-height: 32px
    height: 32px
    display: inline-block
    border: solid 1px $alto-solid
    text-align: center
    box-sizing: border-box
    font-size: 12px


  .image
    float: right
    height: 32px
    width: 24px
    display: inline-block
    border: solid 1px $alto-solid
    box-sizing: border-box
    background: white url(http://via.placeholder.com/24x32) no-repeat center center
    background-size: auto

  .image-document
    background-size: cover



