@import 'variables'


:local(.relevant-infinite-carousel)
  background-color: $thunder
  min-height: 248px
  font-weight: 300

  .relevant-infinite-carousel-title-wrapper
    display: flex
    font-size: 14px
    line-height: 16px
    padding: 39px 8px 9px 8px

  .relevant-infinite-carousel-title
    flex: 1
    color: white

  .relevant-infinite-carousel-tip
    flex: 1
    text-align: right
    color: $boulder

  .relevant-infinite-horizontal-scrolling
    padding-left: 8px
