@import 'variables'

\:local(.complaint-category)
  margin: 0 8px
  padding: 23px 0
  border-bottom: 1px solid $alto-solid

  .category
    font-size: 26px
    font-weight: 400
    color: $thunder
    max-height: 64px
    overflow: hidden

  .subcategory
    font-weight: 400
    font-size: 18px
    color: $dusty-gray
    max-height: 44px
    overflow: hidden
