@import 'variables'

\:local(.complaint-page)
  font-size: 14px
  background-color: $wild-sand

  .complaint-info
    background-color: $white
    border: 1px solid $alto-solid
    border-radius: 2px
    margin: 0 8px
    padding: 0 8px
