@import 'variables'

:local(.complaint-incident-date)
  margin: 0 $side-margin
  padding: 11px 0
  font-size: 14px
  line-height: 18px
  border-bottom: 1px solid $alto-solid
  display: flex

  .incident-date-label
    color: $gandalf-gray
    flex-grow: 4

  .incident-date-value
    color: $thunder
    flex-grow: 6
    text-transform: uppercase
