@import 'variables'

\:local(.investigation-timeline)
  margin-bottom: 30px

  .header
    font-size: 14px
    height: 28px
    line-height: 28px
    padding: 0
    margin: 8px 0
    color: $boulder

  .svg
    max-width: 320px

  .date
    font-weight: 300
    font-size: 14px
    color: $boulder

  .event
    font-weight: 400
    font-size: 12px
    color: $thunder
