@import 'variables'

\:local(.summary)
  padding-bottom: 20px

  .label
    color: $boulder-color
    font-size: 14px
    font-weight: 400
    padding: 10px 0

  .content
    font-size: 14px
    font-weight: 400
    color: $thunder-color
