@import 'variables'


\:local(.request-document-content)
  border: 1px solid $alto-solid
  font-size: 14px
  font-weight: 300

  .request-document-inputs
    padding: 38px 16px 26px 16px

  .instruction-text
    margin-bottom: 15px
    color: $boulder

  .email-input
    border-radius: 2px
    background-color: $wild-sand
    padding: 6px 12px 7px 12px
    font-size: 13px
    line-height: 16px
    border: none
    width: 100%
    margin-bottom: 20px
    outline: none
    color: $thunder

    &.warning
      background-color: $champagne

  .request-button
    color: $thunder
    font-size: 14px
    padding: 0
    border: none
    background-color: transparent

  .cancel-button
    color: $boulder
    margin-left: 16px
    font-size: 14px

  .message-box
    color: $boulder
    background-color: $wild-sand
    border-top: 1px solid $alto-solid
    padding: 7px
    line-height: 18px
    text-align: center
