@import 'variables'


\:local(.request-document-button)
  font-size: 14px
  font-weight: 300
  display: inline-block
  line-height: 18px
  float: right

  .request-button
    padding: 4px 8px
    border-radius: 2px
    background-color: $hawkes-blue
    color: $accent-blue

  .check-mark
    color: $accent-blue
    padding-left: 4px
