@import 'variables'


:local(.request-document-button)
  font-size: 14px
  font-weight: 300
  display: inline-block
  line-height: 18px
  float: right

  .request-button
    padding: 4px 8px
    border: 1px solid $alto-solid
    border-radius: 2px

  .check-mark
    color: $blue-ribbon2
    padding-left: 4px
