@import 'variables'


\:local(.request-document-button)
  font-size: 14px
  font-weight: 300
  display: inline-block
  line-height: 18px
  float: right

  .request-button
    padding: 4px 8px
    border-radius: 2px
    background-color: $hawkes-blue-color
    color: $blue-ribbon-color

  .check-mark
    color: $blue-ribbon-color
    padding-left: 4px
