@import 'variables'

:local(.marker)
  width: 14px
  height: 14.2px
  border-radius: 50%
  box-sizing: border-box

  &.force
    border: solid 1px $gandalf-gray
    background-color: $greyish

  &.complaint
    border: solid 1px $bright-orange
    background-color: white

    &.sustained-finding
      background-color: $champagne
